// ======================================
//  Variables
// ======================================

// Colors
$white: #fff;
$color-primary: #58e1c1;
$color-secondary: #51ddfc;
$color-text: #777;
$color-info: #927bc1;

// Media query breakpoints

$brk-narrow: '(max-width: 768px)';